<!-- <h1>Welcome to the biblio, please sign in!</h1> -->

<div class="hero-unit">
  <h1>the remarkable biblio</h1>
  <p>your books, collected.</p>
  <p>
  	<br>
    <a class="btn btn-primary btn-large" href="<%= new_user_registration_path%>">
      register now!
    </a>
    <br>
    <br>
    <a class="btn btn-primary" href="<%= new_user_session_path %>">
      login
    </a>
  </p>
</div>